@model OrenairTraining.Models.testconfig

    <fieldset>
        
        <legend>Темы и вопросы</legend>

        @for (int i = 0; i < ViewBag.Themescount; i++)
        {
            <div>
                @Html.Label("Тема")            
                @Html.DropDownList("themes", ViewBag.Themes as SelectList)   
            
                @Html.Label("Вопросы")
                @Html.DropDownList("questions",ViewBag.Questions as SelectList) 
                @*.TextBox("questions")*@
                @Html.ValidationMessageFor(model => model.questions)
            </div>
        }

    </fieldset>

