@model IEnumerable<OrenairTraining.Models.testconfig>

@{
    ViewBag.Title = "Index";
}

<h2>Тесты</h2>

<table class="features-table">
    <tr>
        <th>
            @Html.DisplayName("№")
        </th>
        <th>
            @Html.DisplayName("Название теста")
        </th>
        <th>
            @Html.DisplayName("Время прохождения")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.testconf_id)
            </td>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.testconf_name).ToString(), "StartTest", new { config_id = item.testconf_id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.ActionLink("Start", "StartTest", new { config_id = item.testconf_id }, new { @class = "starttest" })
            </td>
        </tr>
    }

</table>
