@model OrenairTraining.Models.question

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<fieldset>
    <legend>вопрос</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.question_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.question_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.answer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.answer)
    </div>

    <br />
    <div class="display-label">
        @Html.Label("Пояснение")
        <br />
    </div>
    <div class="display-field">
        <img src=@Url.Action( "ShowImage", "Question", new { id = Model.question_id } ) />
        <br />
        @Html.DisplayFor(model => model.explanation_text)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.material_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.material_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.deleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deleted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.container_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.container_id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new {  id=Model.question_id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
